h2 Home

= link_to 'Cases', '/corona/cases', class: 'btn btn-primary'
br
= link_to 'Deaths', '/corona/deaths', class: 'btn btn-primary'
br
= link_to 'Recovered', '/corona/recovered', class: 'btn btn-primary'
